.descricao{
    grid-area: descricao;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

.descricao__jordan{
    display: grid;
    place-items: center;
    transform: translate(21rem, -2rem);
    font-size: 2rem;
    letter-spacing: .34em;
    font-weight: 275px;
    line-height: 29px;
    font-size: 24px;
}

.descricao__air-max{
    display: grid;
    place-items: center;
    width: 600px;
    transform: translate(17rem, 2rem);
    font-size: 5rem;
    letter-spacing: .34em;
}

.descricao__paragrafo{
    display: grid;
    place-items: center;
    width: 600px;
    transform: translate(21rem, 2rem);
    font-size: 2rem;
    color: #585858;
    letter-spacing: 0.05em;
    font-weight: 275px;
}

.descricao__button{
    display: grid;
    place-items: center;
    width: 219px;
    transform: translate(21rem, );
}