body{
    background-color: white;
    display: grid;
    grid-template-areas: 
        "header" 
        "main"
        "footer";
    grid-template-rows: 90px 3fr 50px;
}

header{
    grid-template-areas: header;
    background-color: yellowgreen;
}

main{
    grid-template-areas: main;
    
}

footer{
    grid-template-areas: footer;
    background-color: cadetblue;
}