body{
    background-color: white;
    display: grid;
    grid-template-areas: 
        "header" 
        "main"
        "footer";
    grid-template-rows: 90px 3fr 50px;
}

header{
    grid-template-areas: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main{
    grid-template-areas: main;
}

footer{
    grid-template-areas: footer;
    background-color: cadetblue;
}